   body {
    background-color: #3aff3ad8;
    margin: 0;
}

header {
    position: relative;
    background-color: #09b609;
    text-align: center;
    font-family: sans-serif;
}

.menu_container a{ 
    color:rgb(255, 255, 81);
    margin: 20px;
    text-decoration: none;
    font-size: 20px;
}

a:hover{
    box-shadow: 3px 5px 10px 0 rgb(255, 255, 6);
}


.menu_container{
    display: flex;
    justify-content: space-between;
}

.button_1:hover{
    box-shadow: 3px 5px 10px 0 white;
}

.Home_1{
    text-align: center;
}

.container_work {
    display: flex;
    justify-content: space-around;
}

h3 ul{
    margin: 20px;
}

.ul_work li {
    font-size: 25px;
} 

.Map{
    text-align: center;
}

.zlatas{
    font-size: 25px;
    text-align: center;
}

.last{
    font-size: 30px;
    margin-left: 20px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

footer{
    margin: 0px;
    height: 150px;
    background-color: grey;
}

.capusta{
    margin-left: 15px;
    margin-top: 30px;
    margin-right: 100px;
    font-size: 20px;
}

.telefon{
    border-radius: 100px;
}

.phone {
    margin: 15px;
    display: flex;
    align-items: center;
}

.inst{
    color: rgb(209, 143, 45);
    margin-left: 15px;
}
